<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>登录</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/static/css/login/login.css}" />
<link rel="shortcut icon" th:href="@{/static/favicon.ico}">
</head>

<body>
	<div id="app" >
		<div ref="bgDiv" class="bg-div">
		
		
		</div>
		
	</div>
</body>
<script th:src="@{/webjars/vue/vue.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/login/login.js}" th:ctx="@{/}"></script>

</html>